
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcomeTitle {
  font-weight: 700;
  font-size: 120px;
}

.welcomeDescription {
  opacity: 0.8;
  font-weight: 500;
  font-size: 40px;
}

.welcomeButton {
  text-decoration: none;
  display: inline-block;
  outline: none;
  border: 4px solid #3772FF;
  border-radius: 18px;
  margin: 40px;
  padding: 25px 64px;
  color: #FFEBEC;
  background-color: #3772FF;
  font-weight: 700;
  font-size: 40px;

}

.marketButton {
  background-color: transparent;
  transition: background-color 0.3s;
}

.marketButton:hover {
  background-color: #3772FF;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
